# .coveragerc to control coverage.py
[run]
branch = True
source = garnett
omit =
    garnett/common/six.py
    garnett/gsdhoomd.py
    garnett/pygsd.py

[report]
ignore_errors = True

[html]
directory = coverage_html_report
